<header>
	<h1>{{title}}</h1> <!-- variable passed to res.render in app.get in app.js -->
	<div>
		<a href='/'>Home</a>
		<a href='/categories'>Categories</a>
		<a href='/releases'>Releases</a>
	</div>
</header>