<!DOCTYPE html>

<html>
	<head>
		<title>{{title}}</title>
		{{!-- <link rel='icon' href='/img/weather.png'> --}}
		<link rel='stylesheet' href='/css/styles.css'>
	</head>
	<body>
		<div class='main-content'>
			{{>header}} <!-- this is a partial -->
			{{> (lookup . 'bodyPartial') }} <!-- this is a partial -->
		</div>
		{{>footer}}
		{{!-- <script type='text/javascript' src='/js/app.js'></script> --}}
		{{!-- <script type='text/javascript'>
			
		</script> --}}
	</body>
</html>
