{{#extend 'links'}}

{{/extend}}

{{#extend 'styles'}}
<style type='text/css'>
	
</style>
{{/extend}}

<form>
	<input type='text' placeholder='Location'>
	<button type='submit'>Search</button>
</form>
<p id='message-1'></p>
<p id='message-2'></p>


{{#extend 'scripts'}}
<script type='text/javascript'>
	
</script>
{{/extend}}
